[build]
builder = "nixpacks"
buildCommand = "chmod +x ./mvnw && ./mvnw clean package -DskipTests"

[deploy]
startCommand = "java -Dserver.port=${PORT} -jar target/smart_olam.jar"
healthcheckPath = "/"
healthcheckTimeout = 120
healthcheckInterval = 30

[variables]
PORT = "8080"
JAVA_VERSION = "17"