spring:
  datasource:
    url: jdbc:postgresql://ballast.proxy.rlwy.net:48648/railway?sslmode=require
    username: postgres
    password: ESQhFbZZOQfbUVwXAeTXKmicYLuySVKV
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false  # Railway'da false qiling
    properties:
      hibernate:
        format_sql: true

server:
  port: ${PORT:8080}  # Railway PORT variable uchun
  address: 0.0.0.0

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: DEBUG